In [198]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [199]:
df = pd.read_excel('Online Retail Data Set.xlsx')

In [200]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [201]:
df.describe()

,Quantity,InvoiceDate,UnitPrice,CustomerID
count,541909.000000,541909,541909.000000,406829.000000
mean,9.552250,2011-07-04 13:34:57.156386048,4.611114,15287.690570
min,-80995.000000,2010-12-01 08:26:00,-11062.060000,12346.000000
25%,1.000000,2011-03-28 11:34:00,1.250000,13953.000000
50%,3.000000,2011-07-19 17:17:00,2.080000,15152.000000
75%,10.000000,2011-10-19 11:27:00,4.130000,16791.000000
max,80995.000000,2011-12-09 12:50:00,38970.000000,18287.000000
std,218.081158,NaN,96.759853,1713.600303

In [202]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [203]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [204]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [207]:
# Checking for Alphabetic characters in string representation
# if you need a method that works even if the invoice numbers are not strings and
#  contain letter characters.
alpha_invoice_df = df[df['InvoiceNo'].astype(str).str.contains('[a-zA-Z]')]
alpha_invoice_df['InvoiceNo'].head()

141    C536379
154    C536383
235    C536391
236    C536391
237    C536391
Name: InvoiceNo, dtype: object

In [209]:
# Checking for Alphabetic characters in string representation
# if you need a method that works even if the invoice numbers are not strings and
#  contain letter characters.
alpha_invoice_df = df[df['StockCode'].astype(str).str.contains('[a-zA-Z]')]
alpha_invoice_df['StockCode'].head()

0     85123A
2     84406B
3     84029G
4     84029E
45      POST
Name: StockCode, dtype: object

#### Both Invoice_No and Stock_Code both are combation of alphabatic and Numeric values. Hence we are not changing the datatypes of these columns.

In [210]:
# Optional: filter out rows where UnitPrice is still 0 (if needed)
df[df['UnitPrice'] < 0]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
299983,A563186,B,Adjust bad debt,1,2011-08-12 14:51:00,-11062.06,NaN,United Kingdom
299984,A563187,B,Adjust bad debt,1,2011-08-12 14:52:00,-11062.06,NaN,United Kingdom

In [211]:
# Replace negative UnitPrice with absolute value
df['UnitPrice'] = df['UnitPrice'].abs()

# Optional: filter out rows where UnitPrice is still 0 (if needed)
df[df['UnitPrice'] < 0]

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country]
Index: []

#### Note Unit price should not be below $0. We have sort sort the error.

### Create a check that the quantity should not be below 1 unit

In [212]:
df[df['Quantity'] < 1]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
141,C536379,D,Discount,-1,2010-12-01 09:41:00,27.50,14527.0,United Kingdom
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,2010-12-01 09:49:00,4.65,15311.0,United Kingdom
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,2010-12-01 10:24:00,1.65,17548.0,United Kingdom
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,2010-12-01 10:24:00,0.29,17548.0,United Kingdom
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,2010-12-01 10:24:00,0.29,17548.0,United Kingdom
...,...,...,...,...,...,...,...,...
540449,C581490,23144,ZINC T-LIGHT HOLDER STARS SMALL,-11,2011-12-09 09:57:00,0.83,14397.0,United Kingdom
541541,C581499,M,Manual,-1,2011-12-09 10:28:00,224.69,15498.0,United Kingdom
541715,C581568,21258,VICTORIAN SEWING BOX LARGE,-5,2011-12-09 11:57:00,10.95,15311.0,United Kingdom
541716,C581569,84978,HANGING HEART JAR T-LIGHT HOLDER,-1,2011-12-09 11:58:00,1.25,17315.0,United Kingdom
541717,C581569,20979,36 PENCILS TUBE RED RETROSPOT,-5,2011-12-09 11:58:00,1.25,17315.0,United Kingdom

In [213]:
df['Quantity']  = df['Quantity'].abs()
df[df['Quantity'] < 1]

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country]
Index: []

In [214]:
df['Quantity'].dropna().unique()
# then sort using numpy or convert to Series
import numpy as np
np.sort(df['Quantity'].unique())

array([    1,     2,     3,     4,     5,     6,     7,     8,     9,
          10,    11,    12,    13,    14,    15,    16,    17,    18,
          19,    20,    21,    22,    23,    24,    25,    26,    27,
          28,    29,    30,    31,    32,    33,    34,    35,    36,
          37,    38,    39,    40,    41,    42,    43,    44,    45,
          46,    47,    48,    49,    50,    51,    52,    53,    54,
          55,    56,    57,    58,    59,    60,    61,    62,    63,
          64,    65,    66,    67,    68,    69,    70,    71,    72,
          73,    74,    75,    76,    77,    78,    79,    80,    81,
          82,    83,    84,    85,    86,    87,    88,    89,    90,
          91,    92,    93,    94,    95,    96,    97,    98,    99,
         100,   101,   102,   103,   104,   105,   106,   107,   108,
         109,   110,   111,   112,   113,   114,   115,   116,   117,
         118,   120,   121,   122,   123,   124,   125,   126,   128,
         129,   130,   131,   132,   133,   135,   136,   137,   138,
         139,   140,   141,   142,   143,   144,   145,   146,   147,
         148,   149,   150,   151,   152,   153,   154,   155,   156,
         157,   158,   160,   161,   162,   163,   164,   165,   167,
         168,   169,   170,   171,   172,   173,   175,   176,   177,
         178,   179,   180,   181,   183,   184,   186,   188,   192,
         193,   194,   196,   197,   198,   199,   200,   201,   203,
         204,   205,   206,   207,   208,   209,   210,   211,   212,
         213,   215,   216,   217,   219,   220,   222,   223,   224,
         225,   227,   228,   230,   231,   232,   234,   235,   236,
         240,   242,   244,   245,   246,   248,   249,   250,   251,
         252,   253,   255,   256,   257,   258,   259,   261,   264,
         267,   268,   270,   271,   272,   273,   275,   276,   278,
         279,   280,   281,   288,   290,   291,   300,   304,   306,
         310,   312,   313,   314,   318,   320,   323,   324,   326,
         327,   330,   334,   335,   336,   337,   338,   342,   343,
         344,   345,   346,   348,   350,   352,   355,   360,   365,
         370,   374,   375,   378,   380,   384,   388,   390,   391,
         392,   396,   398,   400,   402,   404,   407,   408,   410,
         413,   416,   420,   425,   428,   430,   432,   434,   443,
         448,   450,   455,   456,   458,   460,   462,   468,   472,
         478,   480,   484,   490,   492,   494,   496,   500,   504,
         512,   524,   528,   530,   540,   541,   550,   552,   553,
         560,   576,   588,   590,   600,   608,   612,   618,   620,
         624,   628,   630,   635,   637,   640,   648,   654,   657,
         660,   664,   666,   670,   672,   674,   675,   682,   684,
         688,   690,   696,   698,   700,   701,   708,   720,   723,
         738,   741,   744,   750,   752,   756,   760,   768,   774,
         786,   800,   824,   828,   832,   840,   852,   860,   864,
         888,   900,   905,   906,   912,   939,   960,   967,   968,
         972,   975,   990,   992,  1000,  1008,  1010,  1020,  1050,
        1056,  1060,  1092,  1100,  1120,  1121,  1128,  1130,  1131,
        1152,  1158,  1200,  1206,  1277,  1284,  1287,  1296,  1300,
        1350,  1356,  1394,  1400,  1404,  1412,  1428,  1430,  1440,
        1479,  1488,  1500,  1510,  1512,  1515,  1540,  1560,  1600,
        1671,  1681,  1728,  1788,  1820,  1824,  1878,  1897,  1900,
        1930,  1944,  1992,  2000,  2003,  2040,  2100,  2160,  2376,
        2400,  2472,  2560,  2592,  2600,  2618,  2700,  2834,  2880,
        3000,  3100,  3114,  3167,  3186,  3667,  3906,  4000,  4300,
        4800,  4830,  5368,  5568,  9058,  9360,  9600, 12540, 74215,
       80995])

### Nagative values issues has been resolved

In [215]:
df.isna().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [216]:
# Define a function to get the most frequent non-null description
def most_frequent(x):
    return x.dropna().mode().iloc[0] if not x.dropna().empty else np.nan

# Map most frequent description to NaNs
desc_map = df.groupby('StockCode')['Description'].transform(most_frequent)
df['Description'] = df['Description'].fillna(desc_map)

In [217]:
df['Description'] = df.groupby('StockCode')['Description'].transform(
    lambda x: x.fillna(method='ffill').fillna(method='bfill')
)

In [218]:
df[df['StockCode'].astype(str).str.contains('[A-Za-z]', regex=True)]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
45,536370,POST,POSTAGE,3,2010-12-01 08:45:00,18.00,12583.0,France
...,...,...,...,...,...,...,...,...
541778,581578,84997C,CHILDRENS CUTLERY POLKADOT BLUE,8,2011-12-09 12:16:00,4.15,12713.0,Germany
541809,581579,85099C,JUMBO BAG BAROQUE BLACK WHITE,10,2011-12-09 12:19:00,1.79,17581.0,United Kingdom
541838,581580,84993A,75 GREEN PETIT FOUR CASES,2,2011-12-09 12:20:00,0.42,12748.0,United Kingdom
541844,581580,85049A,TRADITIONAL CHRISTMAS RIBBONS,1,2011-12-09 12:20:00,1.25,12748.0,United Kingdom
541853,581580,85049E,SCANDINAVIAN REDS RIBBONS,2,2011-12-09 12:20:00,1.25,12748.0,United Kingdom

In [219]:
df.isna().sum()

InvoiceNo           0
StockCode           0
Description       112
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [220]:
df[pd.isna(df['Description'])]['StockCode'].value_counts(ascending=False)

StockCode
21134     1
85226A    1
85044     1
20950     1
84670     1
         ..
21610     1
37477B    1
37477C    1
35592T    1
84971L    1
Name: count, Length: 112, dtype: int64

In [221]:
# Step 1: Count occurrences of each StockCode
stockcode_counts = df['StockCode'].value_counts()

# Step 2: Identify which StockCodes occur only once
single_occurrence = stockcode_counts[stockcode_counts == 1].index

# Step 3: Replace NaN descriptions with 'No Description' only for those
df.loc[
    (df['StockCode'].isin(single_occurrence)) & (df['Description'].isna()),'Description'] = 'No Description'

In [222]:
df[pd.isna(df['Description'])]['StockCode'].value_counts(ascending=False)

Series([], Name: count, dtype: int64)

#### Delete the Blank CustomerID

In [232]:
df = df.dropna(subset=['CustomerID'])

In [240]:
df['CustomerID'] = df['CustomerID'].astype(int)   # Change the Datatype float to int

In [241]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 406829 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    406829 non-null  object
 1   StockCode    406829 non-null  object
 2   Description  406829 non-null  object
 3   Quantity     406829 non-null  int64
 4   InvoiceDate  406829 non-null  datetime64[ns]
 5   UnitPrice    406829 non-null  float64
 6   CustomerID   406829 non-null  int64
 7   Country      406829 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(2), object(4)
memory usage: 27.9+ MB

In [243]:
# Export the Excel
df.to_excel('EDA_Online_Retail_Data_Set.xlsx', index=False)